
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fond noir pour l'HTML */
    overflow: hidden;
}

canvas.webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Canvas en arrière-plan */
    pointer-events: none; /* Le canvas ne capte pas les événements de souris */
}



.dg.main {
    /* zoom: 0.8; Fonctionne mieux sur Dat.GUI */
   

    transform: scale(1.5);
    transform-origin: 0 0; 
}






/* Mets tout le HTML au-dessus du canvas */
.header, .main, .footer {
   
    position: relative;
    z-index: 1; /* Plus haut que le canvas */
}

.bree-serif-regular {
    font-family: "roboto";
    font-weight: 400;
    font-style: normal;
  }


/* 



  
/* Centre le bouton */
.title {
    margin-top: 200px;
    margin-left: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 800; 
    font-style: italic; 
    line-height: 0.9;
   
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;

    font-size: clamp(90px, 10vw, 140px);

    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    /* z-index: 1; */

}

.blur-box {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 73.5%; /* Décalé vers la droite */
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translate(-50%, -50%); /* Ajuste le centrage */
    background-color: rgba(255, 255, 255, 0.035);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 20px;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    margin-right: 40px;
    z-index: 3;
    border: 1px solid rgba(255, 255, 255, 0.072);

}





/* Styles généraux pour tous les boutons */
.login, .password, .signin_button {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: #ffffffca;

    background-color: rgba(255, 255, 255, 0.035);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.032);

    /* color: black; */
    /* border: 2px solid white; */
    /* border: none;  */

   
    border-radius: 5px;
    cursor: pointer;
    width: 75%;  /* Ajuste la largeur de tous les boutons */

    max-width: 230px;  
    text-align: center;
    box-shadow: none; /* Supprime l'ombre */
    outline: none; 
}


.bouton_prout {
    /* position: absolute;
    bottom: 0;
    right: 0; */
    position: absolute;
    margin-top: 0 px;
    font-weight: 600;
    font-size: 130px;
    border: none;
    background: none;
    color: rgba(255, 238, 80, 0.857);
    text-align: center;
    cursor: pointer;
    text-align: right;
    /* border: 2px solid white; */
}

